<div class="row">
  <div id="question_0" class="text-center start">
    <label class=" mt-5">
      Jogo dedicado a mulher da minha vida<i class="nes-icon is-small heart"></i><br>
      Esse é um jogo de perguntas e repostas onde você deve responde-las para
      ganhar pontos.<br>
      Com base na sua pontuação, você pode ganhar um premio no final dele.<br>
      Responda sinceramente, porque se tirar pouca pontuação hoje não vai ter
      nada.😡
    </label>
    <div class="answers" data-next-question="1">
      <button
        type="button"
        id="1"
        data-question-number="1"
        data-points="0"
        class="nes-btn is-normal start-button button-next"
      >Começar</button>
    </div>
  </div>

  <div id="question_1" style="display:none;" class="text-center">
    <label class="questions">
      1. Quantos meses e dias a gente tem juntos?
    </label>

    <div class="answers" data-next-question="2">
      <button
        type="button"
        id="question_1_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >2 Meses e 3 dias</button>
      <button
        type="button"
        id="question_1_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >2 Meses e 5 dias</button>
      <button
        type="button"
        id="question_1_button_3"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >2 Meses e 13 dias</button>
    </div>
  </div>

  <div id="question_2" style="display:none;" class="text-center">
    <label>
      2. Qual apelido você acha que eu gosto?
    </label>

    <div class="answers" data-next-question="3">
      <button
        type="button"
        id="question_2_button_1"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >Ale</button>
      <button
        type="button"
        id="question_2_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >xande</button>
      <button
        type="button"
        id="question_2_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >Amor</button>
      <button
        type="button"
        id="question_2_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >fedidinho 😡</button>
      <button
        type="button"
        id="question_2_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Vida</button>
    </div>
  </div>

  <div id="question_3" style="display:none;" class="text-center">
    <label>
      3. Quando é meu aniversário?
    </label>

    <div class="answers" data-next-question="4">
      <button
        type="button"
        id="question_3_button_1"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >07/10</button>
      <button
        type="button"
        id="question_3_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >12/10</button>
      <button
        type="button"
        id="question_3_button_3"
        data-points="15"
        class="nes-btn is-normal start-button button-next wrong"
      >17/11</button>
      <button
        type="button"
        id="question_3_button_4"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >17/10</button>
      <button
        type="button"
        id="question_3_button_5"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >17/05</button>
    </div>
  </div>

  <div id="question_4" style="display:none;" class="text-center">
    <label>
      4. Você me amaria mesmo se eu fosse um rato?
    </label>

    <div class="answers" data-next-question="5">
      <button
        type="button"
        id="question_4_button_1"
        data-points="0"
        class="nes-btn is-normal start-button button-next wrong joke_with_rat"
      >NÃO CREDO🤢</button>
      <button
        type="button"
        id="question_4_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >AMARIA E AINDA BOTAVA NA BOLINHA PRA FICAR CORRENDO</button>
      <button
        type="button"
        id="question_4_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >AMAVA DMS</button>
      <button
        type="button"
        id="question_4_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >não amor, vc não teria a 🍆</button>
      <button
        type="button"
        id="question_4_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >amaria pra crl, cuidaria e ainda levava pra passear</button>
    </div>
  </div>

  <div id="question_5" style="display:none;" class="text-center">
    <label>
      5. Quais são minhas cores favoritas?
    </label>

    <div class="answers" data-next-question="6">
      <button
        type="button"
        id="question_5_button_1"
        data-points="0"
        class="nes-btn is-normal start-button button-next wrong"
      >Vermelho e azul</button>
      <button
        type="button"
        id="question_5_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next correct"
      >Preto e branco</button>
      <button
        type="button"
        id="question_5_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next wrong rosa"
      >Rosa</button>
      <button
        type="button"
        id="question_5_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Prata</button>
    </div>
  </div>

  <div id="question_6" style="display:none;" class="text-center">
    <label>
      6. Quais são minhas comidas favoritas?
    </label>

    <div class="answers" data-next-question="7">
      <button
        type="button"
        id="question_6_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >Lasanha</button>
      <button
        type="button"
        id="question_6_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >Pastel e caldo de cana</button>
      <button
        type="button"
        id="question_6_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Hamburguer</button>
      <button
        type="button"
        id="question_6_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Bolo</button>
      <button
        type="button"
        id="question_6_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >piquito mo</button>
    </div>
  </div>

  <div id="question_7" style="display:none;" class="text-center">
    <label>
      7. Qual foi o dia que te pedi em namoro? (se errar vai tomar um salve)
    </label>

    <div class="answers" data-next-question="8">
      <button
        type="button"
        id="question_7_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >17/12</button>
      <button
        type="button"
        id="question_7_button_2"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >17/11</button>
      <button
        type="button"
        id="question_7_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >07/12</button>
      <button
        type="button"
        id="question_7_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >13/12</button>
      <button
        type="button"
        id="question_7_button_5"
        data-points="1"
        class="nes-btn is-normal start-button button-next correct"
      >22/12</button>
    </div>
  </div>

  <div id="question_8" style="display:none;" class="text-center">
    <label>
      8. E SE EU FICAR CARECA EM CE ME AMARIA EM AMARIA?
    </label>

    <div class="answers" data-next-question="9">
      <button
        type="button"
        id="question_8_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >é lógico amor</button>
      <button
        type="button"
        id="question_8_button_2"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >eu amaria de mais, lustraria sua careca e ainda rapava pra você</button>
      <button
        type="button"
        id="question_8_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >ia ser lisinha e brilhante, eu gostar dms</button>
      <button
        type="button"
        id="question_8_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >aff sai fora amor quero não</button>
      <button
        type="button"
        id="question_8_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next wrong hate_careca"
      >ODEIO CARECA</button>
    </div>
  </div>

  <div id="question_9" style="display:none;" class="text-center">
    <label>
      9. Vai me colocar como relacionamento sério no face nunca?😡
    </label>

    <div class="answers" data-next-question="10">
      <button
        type="button"
        id="question_9_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next wrong"
      >Agora pera ai não aguento mais</button>
      <button
        type="button"
        id="question_9_button_2"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >ce nem usa</button>
      <button
        type="button"
        id="question_9_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >vo nada</button>
      <button
        type="button"
        id="question_9_button_4"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >Vou agora amor</button>
    </div>
  </div>

  <div id="question_10" style="display:none;" class="text-center">
    <label>
      10. Como você queria que nossos filho fosse? olhe pra trás e responde
    </label>

    <div class="answers" data-next-question="11">
      <button
        type="button"
        id="question_10_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Respondi</button>
    </div>
  </div>

  <div id="question_11" style="display:none;" class="text-center">
    <label>
      11. Na nossa relação teve datas importantes, quais?
    </label>

    <div class="answers" data-next-question="12">
      <div class="nes-field">
        <label for="name_field">Digite os dias com mês</label>
        <input type="text" id="name_field" class="nes-input">
      </div>
      <button
        type="button"
        id="question_11_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_12" style="display:none;" class="text-center">
    <label>
      12. Com quantos meses você começou a gostar de mim?
    </label>

    <div class="answers" data-next-question="13">
      <div class="nes-field">
        <input type="text" id="name_field" class="nes-input">
      </div>
      <button
        type="button"
        id="question_12_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_13" style="display:none;" class="text-center">
    <label>
      13. Oque é o amor pra você? (vire e responda)
    </label>

    <div class="answers" data-next-question="14">
      <button
        type="button"
        id="question_13_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_14" style="display:none;" class="text-center">
    <label>
      14. Você sabe oque eu quero dizer com, "te quero pro meu futuro"?
    </label>

    <div class="answers" data-next-question="15">
      <p>
        "Te quero pro meu futuro" é uma forma de te dizer o quanto eu te amo, o quanto eu te desejo,
        o quanto quero você, pode não acontecer tudo como a gente planeja, passar por momentos dificeis,
        ficar um tempo brigado ou algo do tipo, mas que independente, lembre-se disso, eu te quero pro meu futuro, 
        não é somente agora, é pra hoje, pra amanhã, pra sempre. <b>Eu te quero pro meu futuro.</b>
      </p>
      <button
        type="button"
        id="question_14_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_15" style="display:none;" class="text-center">
    <label>
      15. Se alguém perguntasse "Porque você ama o Alexandre?" oque você responderia?
    </label>

    <div class="answers" data-next-question="16">
      <p>
        Vire e me responda.
      </p>
      <button
        type="button"
        id="question_15_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_16" style="display:none;" class="text-center">
    <label>
      16. Se o nosso relacionamento cair na rotina, como você faria ou qual ideia você teria para pordermos melhorar?
    </label>

    <div class="answers" data-next-question="17">
      <p>
        Vire e me responda.
      </p>
      <button
        type="button"
        id="question_16_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Próximo</button>
    </div>
  </div>

  <div id="question_17" style="display:none;" class="text-center">
    <label>
      17. 
    </label>

    <div class="answers" data-next-question="0">
      <p id="typing_text" class="typing">
        Você chegou ao final, agora a ultima pergunta eu que irei dizer. Olhe pra trás...
      </p>
    </div>
  </div>
</div>
