<div class="row">
  <div id="question_0" class="text-center start">
    <label class=" mt-5">
      Jogo dedicado a mulher da minha vida<i class="nes-icon is-small heart"></i><br>
      Esse é um jogo de perguntas e repostas onde você deve responde-las para
      ganhar pontos.<br>
      Com base na sua pontuação, você pode ganhar um premio no final dele.<br>
      Responda sinceramente, porque se tirar pouca pontuação hoje não vai ter
      nada.😡
    </label>
    <div class="answers" data-next-question="1">
      <button
        type="button"
        id="1"
        data-question-number="1"
        data-points="0"
        class="nes-btn is-normal start-button button-next"
      >Começar</button>
    </div>
  </div>

  <div id="question_1" style="display:none;" class="text-center">
    <label class="questions">
      1. Quantos meses e dias a gente tem juntos?
    </label>

    <div class="answers" data-next-question="2">
      <button
        type="button"
        id="question_1_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >2 Meses e 3 dias</button>
      <button
        type="button"
        id="question_1_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >2 Meses e 5 dias</button>
      <button
        type="button"
        id="question_1_button_3"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >2 Meses e 13 dias</button>
    </div>
  </div>

  <div id="question_2" style="display:none;" class="text-center">
    <label>
      2. Com quantos meses você começou a gostar de mim?
    </label>

    <div class="answers" data-next-question="3">
      <button
        type="button"
        id="question_2_button_1"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >Ale</button>
      <button
        type="button"
        id="question_2_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >xande</button>
      <button
        type="button"
        id="question_2_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >Amor</button>
      <button
        type="button"
        id="question_2_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >fedidinho 😡</button>
      <button
        type="button"
        id="question_2_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >Vida</button>
    </div>
  </div>

  <div id="question_3" style="display:none;" class="text-center">
    <label>
      3. Quando é meu aniversário?
    </label>

    <div class="answers" data-next-question="4">
      <button
        type="button"
        id="question_3_button_1"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >07/10</button>
      <button
        type="button"
        id="question_3_button_2"
        data-points="10"
        class="nes-btn is-normal start-button button-next wrong"
      >12/10</button>
      <button
        type="button"
        id="question_3_button_3"
        data-points="15"
        class="nes-btn is-normal start-button button-next wrong"
      >17/11</button>
      <button
        type="button"
        id="question_3_button_4"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >17/10</button>
      <button
        type="button"
        id="question_3_button_5"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >17/05</button>
    </div>
  </div>

  <div id="question_4" style="display:none;" class="text-center">
    <label>
      4. Você me amaria mesmo se eu fosse um rato?
    </label>

    <div class="answers" data-next-question="5">
      <button
        type="button"
        id="question_4_button_1"
        data-points="0"
        class="nes-btn is-normal start-button button-next wrong joke_with_rat"
      >NÃO CREDO🤢</button>
      <button
        type="button"
        id="question_4_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >AMARIA E AINDA BOTAVA NA BOLINHA PRA FICAR CORRENDO</button>
      <button
        type="button"
        id="question_4_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >AMAVA DMS</button>
      <button
        type="button"
        id="question_4_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >não amor, vc não teria a 🍆</button>
      <button
        type="button"
        id="question_4_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >amaria pra crl, cuidaria e ainda levava pra passear</button>
    </div>
  </div>

  <div id="question_5" style="display:none;" class="text-center">
    <label>
      5. Quais são minhas cores favoritas?
    </label>

    <div class="answers" data-next-question="6">
      <button
        type="button"
        id="question_5_button_1"
        data-points="0"
        class="nes-btn is-normal start-button button-next wrong"
      >Vermelho e azul</button>
      <button
        type="button"
        id="question_5_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next correct"
      >Preto e branco</button>
      <button
        type="button"
        id="question_5_button_3"
        data-points="20"
        class="nes-btn is-normal start-button button-next wrong rosa"
      >Rosa</button>
      <button
        type="button"
        id="question_5_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Prata</button>
    </div>
  </div>

  <div id="question_6" style="display:none;" class="text-center">
    <label>
      6. Quais são minhas comidas favoritas?
    </label>

    <div class="answers" data-next-question="7">
      <button
        type="button"
        id="question_6_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >Lasanha</button>
      <button
        type="button"
        id="question_6_button_2"
        data-points="5"
        class="nes-btn is-normal start-button button-next wrong"
      >Pastel e caldo de cana</button>
      <button
        type="button"
        id="question_6_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Hamburguer</button>
      <button
        type="button"
        id="question_6_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >Bolo</button>
      <button
        type="button"
        id="question_6_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >piquito mo</button>
    </div>
  </div>

  <div id="question_7" style="display:none;" class="text-center">
    <label>
      7. Qual foi o dia que te pedi em namoro? (se errar vai tomar um salve)
    </label>

    <div class="answers" data-next-question="8">
      <button
        type="button"
        id="question_7_button_1"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >17/12</button>
      <button
        type="button"
        id="question_7_button_2"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >17/11</button>
      <button
        type="button"
        id="question_7_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >07/12</button>
      <button
        type="button"
        id="question_7_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >13/12</button>
      <button
        type="button"
        id="question_7_button_5"
        data-points="1"
        class="nes-btn is-normal start-button button-next correct"
      >22/12</button>
    </div>
  </div>

  <div id="question_8" style="display:none;" class="text-center">
    <label>
      8. E SE EU FICAR CARECA EM CE ME AMARIA EM AMARIA?
    </label>

    <div class="answers" data-next-question="9">
      <button
        type="button"
        id="question_8_button_1"
        data-points="15"
        class="nes-btn is-normal start-button button-next correct"
      >é lógico amor</button>
      <button
        type="button"
        id="question_8_button_2"
        data-points="20"
        class="nes-btn is-normal start-button button-next correct"
      >eu amaria de mais, lustraria sua careca e ainda rapava pra você</button>
      <button
        type="button"
        id="question_8_button_3"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >ia ser lisinha e brilhante, eu gostar dms</button>
      <button
        type="button"
        id="question_8_button_4"
        data-points="1"
        class="nes-btn is-normal start-button button-next wrong"
      >aff sai fora amor quero não</button>
      <button
        type="button"
        id="question_8_button_5"
        data-points="15"
        class="nes-btn is-normal start-button button-next wrong hate_careca"
      >ODEIO CARECA</button>
    </div>
  </div>
</div>
