/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "toastify-js/src/toastify.css";
body {
  overflow: hidden;
  background-color: #000 !important;
  color: #fff;
  a,
  label,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

// Cabeçalho da página
.topbar {
  padding: 15px 20px 15px 20px;
}

// Start page
.start-button {
  margin-top: 15rem !important;
}

#progress-bar {
  transition: 1s linear fade;
}

// Toastify
.toasty {
  text-align: center;
}

.correct_toasty {
  background: #25D366 !important;
}

.wrong_toasty  {
  background: #E50914 !important;
}