/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap/scss/bootstrap";
@import "toastify-js/src/toastify.css";
$bg: #000;
$text-color: #fff;
$caret-color: white;
$text-length: 81;
$animation-time: 9s;
body {
  overflow: hidden;
  background-color: #000 !important;
  color: #fff;
  a,
  label,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

.answers {
  margin-top: 9rem;
}

// Cabeçalho da página
.topbar {
  padding: 15px 20px 15px 20px;
}

// Start page
.start-button {
  margin-top: 2rem !important;
}

#progress-bar {
  transition: 1s linear fade;
}

.nes-field {
  width: 75%;
  margin-inline: auto;
}

// Toastify
.toasty {
  text-align: center;
}

.correct_toasty {
  background: #25D366 !important;
}

.wrong_toasty {
  background: #E50914 !important;
}

// ANIMATION TYPING
#typing_text {
  width: fit-content;
  margin-inline: auto;
  color: $text-color;
}

// Typing style
.typing {
  position: relative;
  &::after {
    content: "|";
    position: absolute;
    right: 0;
    float: left;
    width: 100%;
    color: $caret-color;
    background: $bg;
    text-align: initial;
    animation: typing $animation-time steps($text-length) forwards, caret 1s infinite;
  }
}

// Animation
@keyframes typing {
  to {
    width: 0
  }
}

@keyframes caret {
  50% {
    color: transparent
  }
}